<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.spring.javawebS.dao.BoardDAO">
	<select id="totRecCnt" resultType="int">
		select count(*) from board2;
	</select>
	
	<select id="getBoardList" resultType="com.spring.javawebS.vo.BoardVO">
		select * from board2 order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	<select id="getBoardContent" resultType="com.spring.javawebS.vo.BoardVO">
		select * from board2 where idx = #{idx};
	</select>
	
	<select id="getPrevNaxt" resultType="com.spring.javawebS.vo.BoardVO">
		select idx,title from board2 where <![CDATA[ #{idx} > idx]]> or <![CDATA[ #{idx} > idx]]> order by idx desc limit 2;
	</select>
	
	<select id="getBoardGoodCheck" resultType="com.spring.javawebS.vo.BoardGoodVO">
		select * from goodCnt2 where mid = #{mid} and idx = #{idx} and sector = #{sector} ;
	</select>
	
	<select id="totRecCntSearch" resultType="int">
		select count(*) from board2 where ${search} like concat('%',#{searchString},'%');
	</select>
	
	<select id="getBoardSearchResult" resultType="com.spring.javawebS.vo.BoardVO">
		select * from board2 where ${search} like concat('%',#{searchString},'%') order by idx desc limit #{startIndexNo},#{pageSize};
	</select>
	
	
	
	
	
	<insert id="setBoardInput">
		insert into board2 values (default, #{vo.mid} , #{vo.nickName} , #{vo.title} , #{vo.email} , #{vo.homePage} , #{vo.content} , default , #{vo.hostIp} , #{vo.openSw} , default , default );
	</insert>
	
	
	
	
	<insert id="setBoardGoodMemberInput">
		insert into goodCnt2 values (#{sector},#{idx},#{mid},default);
	</insert>
		
		
	
	<update id="setBoardGood">
		update board2 set good =good+#{i} where idx = #{idx};
	</update>
	
	<update id="setBoardReadUpdate">
		update board2 set readNum = readNum+1 where idx = #{idx};
	</update>
	
	<update id="getboardUpdate">
		update board2 set title=#{vo.title}, email=#{vo.email},content=#{vo.content},hostIp=#{vo.hostIp},openSw=#{vo.openSw} where idx = #{vo.idx};
	</update>
	
	
	
	
	<delete id="setBoardGoodMemberDelete">
		delete from goodCnt2 where sector = #{sector} and idx = #{idx} and mid= #{mid};
	</delete>
	
	<delete id="setBoardDelete">
		delete from board2 where idx = #{idx};
	</delete>
	
	
</mapper>